<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="left aligned column">
                <div class="sixteen wide column">
                    <h3 class="ui header">Autores</h3>
                    <table class="ui compact celled definition table">
                        <thead class="full-width">
                            <tr>
                                <th></th>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr bli-autor *ngFor="let autor of autores" [autor]="autor">
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
</div>