<div class="ui inverted vertical center aligned segment">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="item" [routerLink]="['/']">Início</a>
            <a class="item" [routerLink]="['/autores']" routerLinkActive="active">Autores</a>
            <a class="item">Phalcon</a>
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
            Treinamento Phalcon
        </h1>
        <h2>Façam os exercícios sempre </h2>
        <div class="ui huge primary button">Tá esperando o que? <i class="right arrow icon"></i></div>
    </div>

</div>